# Propus Platform — Unified OpenAPI 3.1 Spec
#
# Diese Datei enthält sowohl kuratierte Einträge (mit echten Schemas)
# als auch auto-generierte Stubs aus booking/server.js + tours/routes/*.js.
# Auto-Stubs sind an `summary: 'TODO: ...'` und `x-source-file` erkennbar.
#
# Stubs regenerieren: `node scripts/extract-routes.js`
# Manuelle Einträge bleiben beim Regen erhalten.

openapi: 3.1.0
info:
  title: Propus Booking API
  version: 1.0.0
  description: |
    Backend-API für das Buchungstool von Propus GmbH. Serviert sowohl die
    öffentliche Buchungsstrecke (`/api/booking*`) als auch die Admin-Oberfläche
    (`/api/admin/*`, `/auth/*`).

    **Hinweise:**
    - Die meisten Routen liegen hinter Cloudflare + Nginx; `req.ip` ist die
      echte Client-IP (Trust-Proxy aktiv).
    - Sicherheitskritische Routen sind per `express-rate-limit` geschützt
      (siehe `booking/rate-limiters.js`).
    - Auth: Admin-Sessions via `admin_session`-Cookie (HttpOnly) **oder**
      `Authorization: Bearer <token>`-Header.
  contact:
    name: Propus Platform Team
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
servers:
  - url: https://booking.propus.ch
    description: Produktion (Public Booking Frontend)
  - url: https://admin-booking.propus.ch
    description: Produktion (Admin Backend)
  - url: http://localhost:3100
    description: Lokale Entwicklung (Express direkt)
tags:
  - name: auth
    description: Login, Sessions, Admin-Authentifizierung
  - name: booking
    description: Öffentliche Buchungsstrecke + Bestätigung
  - name: system
    description: Health-Check, Build-Info, Feature-Flags
  - name: tours
  - name: tours-admin
  - name: tours-auth
  - name: tours-customer
  - name: tours-portal
  - name: tours-webhook
security: []
paths:
  /api/admin/login:
    post:
      tags:
        - auth
      summary: Lokaler Admin-Login (Legacy, ohne Logto)
      description: |
        Klassischer Username/Passwort-Login gegen `core.admin_users`. Setzt
        ein `admin_session`-Cookie und liefert zusätzlich einen Bearer-Token
        zurück, den das Admin-Panel im LocalStorage hält.

        **Rate-Limit:** 5 Versuche / 15 min pro IP (`authLimiter`).
      operationId: adminLoginLegacy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - username
                - password
              properties:
                username:
                  type: string
                  description: E-Mail oder Username
                  example: admin@propus.ch
                password:
                  type: string
                  format: password
                rememberMe:
                  type: boolean
                  default: false
                  description: Verlängert Session-Cookie auf 30 Tage
      responses:
        '200':
          description: Login erfolgreich
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginSuccess'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          description: Ungültige Zugangsdaten
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          description: Datenbank nicht konfiguriert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/login:
    post:
      tags:
        - auth
      summary: Unified Admin-Login
      description: |
        Neuere, vereinheitlichte Login-Route. Akzeptiert sowohl `email` als
        auch `username` als Login-ID. Wird vom Admin-Panel via Next.js-Proxy
        (`/api/auth/login` → `/auth/login`) angesprochen.

        Liefert dasselbe Response-Format wie `/api/admin/login`.

        **Rate-Limit:** 5 Versuche / 15 min pro IP (`authLimiter`, gleicher
        Bucket wie `/api/admin/login`).
      operationId: adminLoginUnified
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - password
              properties:
                email:
                  type: string
                  format: email
                  description: Login-ID (entweder `email` oder `username` setzen)
                username:
                  type: string
                  description: Login-ID (entweder `email` oder `username` setzen)
                password:
                  type: string
                  format: password
                rememberMe:
                  type: boolean
                  default: false
      responses:
        '200':
          description: Login erfolgreich
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginSuccess'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          description: Ungültige Zugangsdaten
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /api/booking:
    post:
      tags:
        - booking
      summary: Öffentliche Buchungsanfrage
      description: |
        Hauptendpunkt der öffentlichen Buchungsstrecke. Akzeptiert die
        komplette Buchungs-Payload (Termin, Fotograf, Adresse, Services,
        Kontakt) und legt eine `booking.orders`-Zeile an.

        Bei Erfolg wird eine Bestätigungs-E-Mail mit Token-Link verschickt
        (siehe `/api/booking/confirm/:token`).

        **Rate-Limit:** 10 Submits / 60 min pro IP (`bookingLimiter`,
        eigener Bucket — Schutz vor Spam und Mailkosten).

        **TODO:** Vollständiges Body-Schema (`schedule`, `billing`,
        `object`, `services`, `address`, `keyPickup`, ...) ergänzen.
        Aktuell `additionalProperties: true`, weil ein eigenes Doku-Ticket
        benötigt wird, um alle Felder + ihre Validierung zu erfassen.
      operationId: createBooking
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              properties:
                schedule:
                  type: object
                  properties:
                    photographer:
                      type: object
                      properties:
                        key:
                          type: string
                          description: Fotograf-Key oder `"any"` für Smart-Assignment
                        name:
                          type: string
                    date:
                      type: string
                      format: date
                    time:
                      type: string
                      pattern: ^[0-9]{2}:[0-9]{2}$
                billing:
                  type: object
                  properties:
                    email:
                      type: string
                      format: email
                  additionalProperties: true
                object:
                  type: object
                  additionalProperties: true
                services:
                  type: object
                  additionalProperties: true
                address:
                  type: object
                  additionalProperties: true
                keyPickup:
                  type: object
                  additionalProperties: true
      responses:
        '200':
          description: Buchung angelegt
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  orderNo:
                    type: string
                    description: Generierte Auftragsnummer
                  requestId:
                    type: string
                  warnings:
                    type: array
                    items:
                      type: string
                additionalProperties: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
  /api/booking/confirm/{token}:
    get:
      tags:
        - booking
      summary: Buchung per Token-Link bestätigen
      description: |
        Wird vom Bestätigungs-Link in der E-Mail aufgerufen. Setzt
        `orders.status = 'confirmed'` und legt anschliessend Kalender-
        Einträge (Fotograf + Office) an.

        **Idempotent:** Wiederholtes Aufrufen mit demselben Token gibt
        `{ ok: true, already: true }` zurück.

        **Rate-Limit:** 10 Versuche / 15 min pro IP (`confirmTokenLimiter`,
        eigener Bucket — verhindert dass Bots, die öffentliche Confirm-Links
        spammen, das Admin-Login-Budget aus derselben NAT-IP auffressen).
      operationId: confirmBooking
      parameters:
        - in: path
          name: token
          required: true
          schema:
            type: string
            minLength: 32
          description: Confirmation-Token aus der E-Mail
      responses:
        '200':
          description: Bestätigung erfolgreich (oder bereits bestätigt)
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  already:
                    type: boolean
                    description: True wenn Status bereits `confirmed` war
                  status:
                    type: string
                  orderNo:
                    type: string
        '400':
          description: Ungültiges Token-Format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Token unbekannt oder bereits gelöscht
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '410':
          description: Token abgelaufen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          description: Service nicht verfügbar (DB nicht erreichbar)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/health:
    get:
      tags:
        - system
      summary: Health-Check + Feature-Flags
      description: |
        Liefert Build-ID, Uptime und aktive Feature-Flags. Wird vom
        Container-Healthcheck (`docker-compose.vps.yml`) und vom Smoke-Test
        in der CI verwendet.
      operationId: getHealth
      responses:
        '200':
          description: Service ist erreichbar
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - buildId
                  - uptimeSec
                  - dbEnabled
                properties:
                  ok:
                    type: boolean
                    enum:
                      - true
                  buildId:
                    type: string
                  hasPricingPreviewRoute:
                    type: boolean
                  features:
                    type: object
                    additionalProperties:
                      type: boolean
                  dbEnabled:
                    type: boolean
                    description: True wenn `DATABASE_URL` gesetzt ist
                  uptimeSec:
                    type: integer
                    minimum: 0
        '503':
          description: Service degraded (z. B. DB nicht erreichbar)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/logto/login:
    get:
      tags:
        - booking
      summary: 'TODO: GET /auth/logto/login'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:2346`. Schemas
        noch nicht dokumentiert.
      operationId: getAuthLogtoLogin
      x-source-file: booking/server.js
      x-source-line: 2346
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        5XX:
          $ref: '#/components/responses/ServerError'
  /auth/logto/callback:
    get:
      tags:
        - booking
      summary: 'TODO: GET /auth/logto/callback'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:2350`. Schemas
        noch nicht dokumentiert.
      operationId: getAuthLogtoCallback
      x-source-file: booking/server.js
      x-source-line: 2350
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        5XX:
          $ref: '#/components/responses/ServerError'
  /auth/logto/logout:
    get:
      tags:
        - booking
      summary: 'TODO: GET /auth/logto/logout'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:2353`. Schemas
        noch nicht dokumentiert.
      operationId: getAuthLogtoLogout
      x-source-file: booking/server.js
      x-source-line: 2353
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        5XX:
          $ref: '#/components/responses/ServerError'
  /auth/logout:
    get:
      tags:
        - booking
      summary: 'TODO: GET /auth/logout'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:2359`. Schemas
        noch nicht dokumentiert.
      operationId: getAuthLogout
      x-source-file: booking/server.js
      x-source-line: 2359
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/first-setup:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/admin/first-setup'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:2472`. Schemas
        noch nicht dokumentiert.
      operationId: postApiAdminFirstsetup
      x-source-file: booking/server.js
      x-source-line: 2472
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/logs:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/logs'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:2540`. Schemas
        noch nicht dokumentiert.
      operationId: postApiLogs
      x-source-file: booking/server.js
      x-source-line: 2540
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        5XX:
          $ref: '#/components/responses/ServerError'
  /auth/customer/magic:
    get:
      tags:
        - booking
      summary: 'TODO: GET /auth/customer/magic'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:2827`. Schemas
        noch nicht dokumentiert.
      operationId: getAuthCustomerMagic
      x-source-file: booking/server.js
      x-source-line: 2827
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        5XX:
          $ref: '#/components/responses/ServerError'
  /auth/customer/login:
    get:
      tags:
        - booking
      summary: 'TODO: GET /auth/customer/login'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:2865`. Schemas
        noch nicht dokumentiert.
      operationId: getAuthCustomerLogin
      x-source-file: booking/server.js
      x-source-line: 2865
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        5XX:
          $ref: '#/components/responses/ServerError'
  /auth/customer/register:
    get:
      tags:
        - booking
      summary: 'TODO: GET /auth/customer/register'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:2868`. Schemas
        noch nicht dokumentiert.
      operationId: getAuthCustomerRegister
      x-source-file: booking/server.js
      x-source-line: 2868
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        5XX:
          $ref: '#/components/responses/ServerError'
  /auth/customer/logout:
    get:
      tags:
        - booking
      summary: 'TODO: GET /auth/customer/logout'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:2871`. Schemas
        noch nicht dokumentiert.
      operationId: getAuthCustomerLogout
      x-source-file: booking/server.js
      x-source-line: 2871
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        5XX:
          $ref: '#/components/responses/ServerError'
  /auth/customer/callback:
    get:
      tags:
        - booking
      summary: 'TODO: GET /auth/customer/callback'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:2874`. Schemas
        noch nicht dokumentiert.
      operationId: getAuthCustomerCallback
      x-source-file: booking/server.js
      x-source-line: 2874
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/customer/logout:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/customer/logout'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:2879`. Schemas
        noch nicht dokumentiert.
      operationId: postApiCustomerLogout
      x-source-file: booking/server.js
      x-source-line: 2879
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/customer/verify-email:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/customer/verify-email'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:2889`. Schemas
        noch nicht dokumentiert.
      operationId: getApiCustomerVerifyemail
      x-source-file: booking/server.js
      x-source-line: 2889
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/customer/email-status:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/customer/email-status'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:2892`. Schemas
        noch nicht dokumentiert.
      operationId: postApiCustomerEmailstatus
      x-source-file: booking/server.js
      x-source-line: 2892
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/customer/resend-verification:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/customer/resend-verification'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:2895`. Schemas
        noch nicht dokumentiert.
      operationId: postApiCustomerResendverification
      x-source-file: booking/server.js
      x-source-line: 2895
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/customer/forgot-password:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/customer/forgot-password'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:2898`. Schemas
        noch nicht dokumentiert.
      operationId: postApiCustomerForgotpassword
      x-source-file: booking/server.js
      x-source-line: 2898
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/customer/reset-password:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/customer/reset-password'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:2901`. Schemas
        noch nicht dokumentiert.
      operationId: postApiCustomerResetpassword
      x-source-file: booking/server.js
      x-source-line: 2901
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/customer/me:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/customer/me'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:2905`. Schemas
        noch nicht dokumentiert.
      operationId: getApiCustomerMe
      x-source-file: booking/server.js
      x-source-line: 2905
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/customer/orders:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/customer/orders'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:2928`. Schemas
        noch nicht dokumentiert.
      operationId: getApiCustomerOrders
      x-source-file: booking/server.js
      x-source-line: 2928
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/customer/orders/{orderNo}/cancel:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/customer/orders/:orderNo/cancel'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:2939`. Schemas
        noch nicht dokumentiert.
      operationId: postApiCustomerOrdersOrderNoCancel
      x-source-file: booking/server.js
      x-source-line: 2939
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/customer/orders/{orderNo}/reschedule-check:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/customer/orders/:orderNo/reschedule-check'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:2989`. Schemas
        noch nicht dokumentiert.
      operationId: postApiCustomerOrdersOrderNoReschedulecheck
      x-source-file: booking/server.js
      x-source-line: 2989
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/customer/orders/{orderNo}/reschedule:
    patch:
      tags:
        - booking
      summary: 'TODO: PATCH /api/customer/orders/:orderNo/reschedule'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:3159`. Schemas
        noch nicht dokumentiert.
      operationId: patchApiCustomerOrdersOrderNoReschedule
      x-source-file: booking/server.js
      x-source-line: 3159
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/customer/orders/{orderNo}/messages:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/customer/orders/:orderNo/messages'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:3267`. Schemas
        noch nicht dokumentiert.
      operationId: getApiCustomerOrdersOrderNoMessages
      x-source-file: booking/server.js
      x-source-line: 3267
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/customer/orders/{orderNo}/message:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/customer/orders/:orderNo/message'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:3281`. Schemas
        noch nicht dokumentiert.
      operationId: postApiCustomerOrdersOrderNoMessage
      x-source-file: booking/server.js
      x-source-line: 3281
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/customer/orders/{orderNo}/chat:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/customer/orders/:orderNo/chat'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:3312`. Schemas
        noch nicht dokumentiert.
      operationId: getApiCustomerOrdersOrderNoChat
      x-source-file: booking/server.js
      x-source-line: 3312
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/customer/orders/{orderNo}/chat/message:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/customer/orders/:orderNo/chat/message'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:3329`. Schemas
        noch nicht dokumentiert.
      operationId: postApiCustomerOrdersOrderNoChatMessage
      x-source-file: booking/server.js
      x-source-line: 3329
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/customer/orders/{orderNo}/chat/read:
    patch:
      tags:
        - booking
      summary: 'TODO: PATCH /api/customer/orders/:orderNo/chat/read'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:3367`. Schemas
        noch nicht dokumentiert.
      operationId: patchApiCustomerOrdersOrderNoChatRead
      x-source-file: booking/server.js
      x-source-line: 3367
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/customer/orders/{orderNo}/chat/events:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/customer/orders/:orderNo/chat/events'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:3382`. Schemas
        noch nicht dokumentiert.
      operationId: getApiCustomerOrdersOrderNoChatEvents
      x-source-file: booking/server.js
      x-source-line: 3382
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/availability:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/availability'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:3411`. Schemas
        noch nicht dokumentiert.
      operationId: getApiAvailability
      x-source-file: booking/server.js
      x-source-line: 3411
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/availability:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/admin/availability'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:3733`. Schemas
        noch nicht dokumentiert.
      operationId: getApiAdminAvailability
      x-source-file: booking/server.js
      x-source-line: 3733
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/availability/simulate:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/admin/availability/simulate'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:3810`. Schemas
        noch nicht dokumentiert.
      operationId: postApiAdminAvailabilitySimulate
      x-source-file: booking/server.js
      x-source-line: 3810
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/resend-customer-email:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/admin/orders/:orderNo/resend-customer-email'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:4754`. Schemas
        noch nicht dokumentiert.
      operationId: postApiAdminOrdersOrderNoResendcustomeremail
      x-source-file: booking/server.js
      x-source-line: 4754
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/resend-email:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/admin/orders/:orderNo/resend-email'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:4841`. Schemas
        noch nicht dokumentiert.
      operationId: postApiAdminOrdersOrderNoResendemail
      x-source-file: booking/server.js
      x-source-line: 4841
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/resend-status-emails:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/admin/orders/:orderNo/resend-status-emails'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:4953`. Schemas
        noch nicht dokumentiert.
      operationId: postApiAdminOrdersOrderNoResendstatusemails
      x-source-file: booking/server.js
      x-source-line: 4953
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/orders/{orderNo}/ics:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/orders/:orderNo/ics'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:5059`. Schemas
        noch nicht dokumentiert.
      operationId: getApiOrdersOrderNoIcs
      x-source-file: booking/server.js
      x-source-line: 5059
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/ics:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/admin/orders/:orderNo/ics'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:5075`. Schemas
        noch nicht dokumentiert.
      operationId: getApiAdminOrdersOrderNoIcs
      x-source-file: booking/server.js
      x-source-line: 5075
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/storage/health:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/admin/storage/health'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:5193`. Schemas
        noch nicht dokumentiert.
      operationId: getApiAdminStorageHealth
      x-source-file: booking/server.js
      x-source-line: 5193
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/storage/browse:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/admin/storage/browse'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:5202`. Schemas
        noch nicht dokumentiert.
      operationId: getApiAdminStorageBrowse
      x-source-file: booking/server.js
      x-source-line: 5202
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/storage:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/admin/orders/:orderNo/storage'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:5250`. Schemas
        noch nicht dokumentiert.
      operationId: getApiAdminOrdersOrderNoStorage
      x-source-file: booking/server.js
      x-source-line: 5250
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/storage/provision:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/admin/orders/:orderNo/storage/provision'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:5272`. Schemas
        noch nicht dokumentiert.
      operationId: postApiAdminOrdersOrderNoStorageProvision
      x-source-file: booking/server.js
      x-source-line: 5272
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/storage/link:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/admin/orders/:orderNo/storage/link'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:5285`. Schemas
        noch nicht dokumentiert.
      operationId: postApiAdminOrdersOrderNoStorageLink
      x-source-file: booking/server.js
      x-source-line: 5285
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/storage/nextcloud-share:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/admin/orders/:orderNo/storage/nextcloud-share'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:5308`. Schemas
        noch nicht dokumentiert.
      operationId: postApiAdminOrdersOrderNoStorageNextcloudshare
      x-source-file: booking/server.js
      x-source-line: 5308
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/storage/folder:
    delete:
      tags:
        - booking
      summary: 'TODO: DELETE /api/admin/orders/:orderNo/storage/folder'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:5341`. Schemas
        noch nicht dokumentiert.
      operationId: deleteApiAdminOrdersOrderNoStorageFolder
      x-source-file: booking/server.js
      x-source-line: 5341
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/upload-chunked/init:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/admin/orders/:orderNo/upload-chunked/init'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:5357`. Schemas
        noch nicht dokumentiert.
      operationId: postApiAdminOrdersOrderNoUploadchunkedInit
      x-source-file: booking/server.js
      x-source-line: 5357
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/upload-chunked/status:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/admin/orders/:orderNo/upload-chunked/status'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:5379`. Schemas
        noch nicht dokumentiert.
      operationId: postApiAdminOrdersOrderNoUploadchunkedStatus
      x-source-file: booking/server.js
      x-source-line: 5379
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/upload-chunked/part:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/admin/orders/:orderNo/upload-chunked/part'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:5396`. Schemas
        noch nicht dokumentiert.
      operationId: postApiAdminOrdersOrderNoUploadchunkedPart
      x-source-file: booking/server.js
      x-source-line: 5396
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/upload-chunked/complete:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/admin/orders/:orderNo/upload-chunked/complete'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:5439`. Schemas
        noch nicht dokumentiert.
      operationId: postApiAdminOrdersOrderNoUploadchunkedComplete
      x-source-file: booking/server.js
      x-source-line: 5439
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/upload-chunked/finalize:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/admin/orders/:orderNo/upload-chunked/finalize'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:5456`. Schemas
        noch nicht dokumentiert.
      operationId: postApiAdminOrdersOrderNoUploadchunkedFinalize
      x-source-file: booking/server.js
      x-source-line: 5456
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/upload:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/admin/orders/:orderNo/upload'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:5491`. Schemas
        noch nicht dokumentiert.
      operationId: postApiAdminOrdersOrderNoUpload
      x-source-file: booking/server.js
      x-source-line: 5491
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/upload-batches:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/admin/orders/:orderNo/upload-batches'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:5541`. Schemas
        noch nicht dokumentiert.
      operationId: getApiAdminOrdersOrderNoUploadbatches
      x-source-file: booking/server.js
      x-source-line: 5541
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/upload-batches/{batchId}:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/admin/orders/:orderNo/upload-batches/:batchId'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:5554`. Schemas
        noch nicht dokumentiert.
      operationId: getApiAdminOrdersOrderNoUploadbatchesBatchId
      x-source-file: booking/server.js
      x-source-line: 5554
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
        - in: path
          name: batchId
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/upload-batches/{batchId}/retry:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/admin/orders/:orderNo/upload-batches/:batchId/retry'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:5569`. Schemas
        noch nicht dokumentiert.
      operationId: postApiAdminOrdersOrderNoUploadbatchesBatchIdRetry
      x-source-file: booking/server.js
      x-source-line: 5569
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
        - in: path
          name: batchId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/upload-batches/{batchId}/confirm:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/admin/orders/:orderNo/upload-batches/:batchId/confirm'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:5585`. Schemas
        noch nicht dokumentiert.
      operationId: postApiAdminOrdersOrderNoUploadbatchesBatchIdConfirm
      x-source-file: booking/server.js
      x-source-line: 5585
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
        - in: path
          name: batchId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/uploads:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/admin/orders/:orderNo/uploads'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:5616`. Schemas
        noch nicht dokumentiert.
      operationId: getApiAdminOrdersOrderNoUploads
      x-source-file: booking/server.js
      x-source-line: 5616
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/uploads/file:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/admin/orders/:orderNo/uploads/file'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:5640`. Schemas
        noch nicht dokumentiert.
      operationId: getApiAdminOrdersOrderNoUploadsFile
      x-source-file: booking/server.js
      x-source-line: 5640
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
    delete:
      tags:
        - booking
      summary: 'TODO: DELETE /api/admin/orders/:orderNo/uploads/file'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:5661`. Schemas
        noch nicht dokumentiert.
      operationId: deleteApiAdminOrdersOrderNoUploadsFile
      x-source-file: booking/server.js
      x-source-line: 5661
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/uploads/folder:
    delete:
      tags:
        - booking
      summary: 'TODO: DELETE /api/admin/orders/:orderNo/uploads/folder'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:5685`. Schemas
        noch nicht dokumentiert.
      operationId: deleteApiAdminOrdersOrderNoUploadsFolder
      x-source-file: booking/server.js
      x-source-line: 5685
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/uploads/websize-sync:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/admin/orders/:orderNo/uploads/websize-sync'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:5709`. Schemas
        noch nicht dokumentiert.
      operationId: postApiAdminOrdersOrderNoUploadsWebsizesync
      x-source-file: booking/server.js
      x-source-line: 5709
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/uploads/websize-rebuild:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/admin/orders/:orderNo/uploads/websize-rebuild'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:5727`. Schemas
        noch nicht dokumentiert.
      operationId: postApiAdminOrdersOrderNoUploadsWebsizerebuild
      x-source-file: booking/server.js
      x-source-line: 5727
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/admin/orders'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:5751`. Schemas
        noch nicht dokumentiert.
      operationId: getApiAdminOrders
      x-source-file: booking/server.js
      x-source-line: 5751
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/admin/orders'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:7013`. Schemas
        noch nicht dokumentiert.
      operationId: postApiAdminOrders
      x-source-file: booking/server.js
      x-source-line: 7013
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}:
    patch:
      tags:
        - booking
      summary: 'TODO: PATCH /api/admin/orders/:orderNo'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:5762`. Schemas
        noch nicht dokumentiert.
      operationId: patchApiAdminOrdersOrderNo
      x-source-file: booking/server.js
      x-source-line: 5762
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
    delete:
      tags:
        - booking
      summary: 'TODO: DELETE /api/admin/orders/:orderNo'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:6963`. Schemas
        noch nicht dokumentiert.
      operationId: deleteApiAdminOrdersOrderNo
      x-source-file: booking/server.js
      x-source-line: 6963
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/admin/orders/:orderNo'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:7267`. Schemas
        noch nicht dokumentiert.
      operationId: getApiAdminOrdersOrderNo
      x-source-file: booking/server.js
      x-source-line: 7267
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/status:
    patch:
      tags:
        - booking
      summary: 'TODO: PATCH /api/admin/orders/:orderNo/status'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:5980`. Schemas
        noch nicht dokumentiert.
      operationId: patchApiAdminOrdersOrderNoStatus
      x-source-file: booking/server.js
      x-source-line: 5980
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/email-log:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/admin/orders/:orderNo/email-log'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:6318`. Schemas
        noch nicht dokumentiert.
      operationId: getApiAdminOrdersOrderNoEmaillog
      x-source-file: booking/server.js
      x-source-line: 6318
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/messages:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/admin/orders/:orderNo/messages'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:6369`. Schemas
        noch nicht dokumentiert.
      operationId: getApiAdminOrdersOrderNoMessages
      x-source-file: booking/server.js
      x-source-line: 6369
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/message:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/admin/orders/:orderNo/message'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:6387`. Schemas
        noch nicht dokumentiert.
      operationId: postApiAdminOrdersOrderNoMessage
      x-source-file: booking/server.js
      x-source-line: 6387
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/chat:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/admin/orders/:orderNo/chat'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:6433`. Schemas
        noch nicht dokumentiert.
      operationId: getApiAdminOrdersOrderNoChat
      x-source-file: booking/server.js
      x-source-line: 6433
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/chat/message:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/admin/orders/:orderNo/chat/message'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:6453`. Schemas
        noch nicht dokumentiert.
      operationId: postApiAdminOrdersOrderNoChatMessage
      x-source-file: booking/server.js
      x-source-line: 6453
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/chat/read:
    patch:
      tags:
        - booking
      summary: 'TODO: PATCH /api/admin/orders/:orderNo/chat/read'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:6514`. Schemas
        noch nicht dokumentiert.
      operationId: patchApiAdminOrdersOrderNoChatRead
      x-source-file: booking/server.js
      x-source-line: 6514
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/chat/events:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/admin/orders/:orderNo/chat/events'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:6534`. Schemas
        noch nicht dokumentiert.
      operationId: getApiAdminOrdersOrderNoChatEvents
      x-source-file: booking/server.js
      x-source-line: 6534
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/reschedule:
    patch:
      tags:
        - booking
      summary: 'TODO: PATCH /api/admin/orders/:orderNo/reschedule'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:6567`. Schemas
        noch nicht dokumentiert.
      operationId: patchApiAdminOrdersOrderNoReschedule
      x-source-file: booking/server.js
      x-source-line: 6567
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/photographer:
    patch:
      tags:
        - booking
      summary: 'TODO: PATCH /api/admin/orders/:orderNo/photographer'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:6766`. Schemas
        noch nicht dokumentiert.
      operationId: patchApiAdminOrdersOrderNoPhotographer
      x-source-file: booking/server.js
      x-source-line: 6766
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/bot:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/bot'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:7295`. Schemas
        noch nicht dokumentiert.
      operationId: postApiBot
      x-source-file: booking/server.js
      x-source-line: 7295
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/review/resend:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/admin/orders/:orderNo/review/resend'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:7355`. Schemas
        noch nicht dokumentiert.
      operationId: postApiAdminOrdersOrderNoReviewResend
      x-source-file: booking/server.js
      x-source-line: 7355
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/review/dismiss:
    patch:
      tags:
        - booking
      summary: 'TODO: PATCH /api/admin/orders/:orderNo/review/dismiss'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:7446`. Schemas
        noch nicht dokumentiert.
      operationId: patchApiAdminOrdersOrderNoReviewDismiss
      x-source-file: booking/server.js
      x-source-line: 7446
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/logout:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/admin/logout'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:8277`. Schemas
        noch nicht dokumentiert.
      operationId: postApiAdminLogout
      x-source-file: booking/server.js
      x-source-line: 8277
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/me:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/admin/me'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:8289`. Schemas
        noch nicht dokumentiert.
      operationId: getApiAdminMe
      x-source-file: booking/server.js
      x-source-line: 8289
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
    put:
      tags:
        - booking
      summary: 'TODO: PUT /api/admin/me'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:8305`. Schemas
        noch nicht dokumentiert.
      operationId: putApiAdminMe
      x-source-file: booking/server.js
      x-source-line: 8305
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/me/change-password:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/admin/me/change-password'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:8381`. Schemas
        noch nicht dokumentiert.
      operationId: postApiAdminMeChangepassword
      x-source-file: booking/server.js
      x-source-line: 8381
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/mail/diagnostics:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/admin/mail/diagnostics'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:8386`. Schemas
        noch nicht dokumentiert.
      operationId: getApiAdminMailDiagnostics
      x-source-file: booking/server.js
      x-source-line: 8386
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/photographer/login:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/photographer/login'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:8397`. Schemas
        noch nicht dokumentiert.
      operationId: postApiPhotographerLogin
      x-source-file: booking/server.js
      x-source-line: 8397
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/photographer/logout:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/photographer/logout'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:8401`. Schemas
        noch nicht dokumentiert.
      operationId: postApiPhotographerLogout
      x-source-file: booking/server.js
      x-source-line: 8401
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/photographer/me:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/photographer/me'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:8406`. Schemas
        noch nicht dokumentiert.
      operationId: getApiPhotographerMe
      x-source-file: booking/server.js
      x-source-line: 8406
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/catalog/products:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/catalog/products'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:8477`. Schemas
        noch nicht dokumentiert.
      operationId: getApiCatalogProducts
      x-source-file: booking/server.js
      x-source-line: 8477
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/catalog/photographers:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/catalog/photographers'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:8489`. Schemas
        noch nicht dokumentiert.
      operationId: getApiCatalogPhotographers
      x-source-file: booking/server.js
      x-source-line: 8489
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/config:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/config'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:8631`. Schemas
        noch nicht dokumentiert.
      operationId: getApiConfig
      x-source-file: booking/server.js
      x-source-line: 8631
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/reverse-geocode:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/reverse-geocode'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:8676`. Schemas
        noch nicht dokumentiert.
      operationId: getApiReversegeocode
      x-source-file: booking/server.js
      x-source-line: 8676
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/reviews:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/reviews'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:8727`. Schemas
        noch nicht dokumentiert.
      operationId: getApiReviews
      x-source-file: booking/server.js
      x-source-line: 8727
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/gbp/status:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/admin/gbp/status'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:8785`. Schemas
        noch nicht dokumentiert.
      operationId: getApiAdminGbpStatus
      x-source-file: booking/server.js
      x-source-line: 8785
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/gbp/auth-url:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/admin/gbp/auth-url'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:8797`. Schemas
        noch nicht dokumentiert.
      operationId: getApiAdminGbpAuthurl
      x-source-file: booking/server.js
      x-source-line: 8797
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/gbp/callback:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/admin/gbp/callback'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:8808`. Schemas
        noch nicht dokumentiert.
      operationId: getApiAdminGbpCallback
      x-source-file: booking/server.js
      x-source-line: 8808
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/gbp/reviews:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/admin/gbp/reviews'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:8865`. Schemas
        noch nicht dokumentiert.
      operationId: getApiAdminGbpReviews
      x-source-file: booking/server.js
      x-source-line: 8865
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/gbp/reviews/reply:
    put:
      tags:
        - booking
      summary: 'TODO: PUT /api/admin/gbp/reviews/reply'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:8887`. Schemas
        noch nicht dokumentiert.
      operationId: putApiAdminGbpReviewsReply
      x-source-file: booking/server.js
      x-source-line: 8887
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
    delete:
      tags:
        - booking
      summary: 'TODO: DELETE /api/admin/gbp/reviews/reply'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:8902`. Schemas
        noch nicht dokumentiert.
      operationId: deleteApiAdminGbpReviewsReply
      x-source-file: booking/server.js
      x-source-line: 8902
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/gbp/disconnect:
    delete:
      tags:
        - booking
      summary: 'TODO: DELETE /api/admin/gbp/disconnect'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:8916`. Schemas
        noch nicht dokumentiert.
      operationId: deleteApiAdminGbpDisconnect
      x-source-file: booking/server.js
      x-source-line: 8916
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/gbp/resolve:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/admin/gbp/resolve'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:8928`. Schemas
[...]
