{
  "openapi": "3.1.0",
  "info": {
    "title": "Propus Platform — Auto-Generated Route Inventory",
    "version": "1.0.0",
    "description": "**Auto-generierter OpenAPI-Stub aller Routen aus `booking/server.js` und `tours/routes/*.js`.** Kuratierte Routen aus `openapi.yaml` sind hier ausgenommen (Quelle dort).\n\nRegenerieren: `node scripts/extract-routes.js`.\n\nRequest/Response-Schemas sind `additionalProperties: true` — manuelle Ergänzung empfohlen.",
    "license": {
      "name": "Proprietary",
      "identifier": "LicenseRef-Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://booking.propus.ch",
      "description": "Produktion"
    },
    {
      "url": "http://localhost:3100",
      "description": "Lokale Entwicklung"
    }
  ],
  "tags": [
    {
      "name": "booking"
    },
    {
      "name": "tours"
    },
    {
      "name": "tours-admin"
    },
    {
      "name": "tours-auth"
    },
    {
      "name": "tours-customer"
    },
    {
      "name": "tours-portal"
    },
    {
      "name": "tours-webhook"
    }
  ],
  "security": [],
  "paths": {
    "/auth/logto/login": {
      "get": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: GET /auth/logto/login",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:2332`. Schemas noch nicht dokumentiert.",
        "operationId": "getAuthLogtoLogin",
        "x-source-file": "booking/server.js",
        "x-source-line": 2332,
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/auth/logto/callback": {
      "get": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: GET /auth/logto/callback",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:2336`. Schemas noch nicht dokumentiert.",
        "operationId": "getAuthLogtoCallback",
        "x-source-file": "booking/server.js",
        "x-source-line": 2336,
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/auth/logto/logout": {
      "get": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: GET /auth/logto/logout",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:2339`. Schemas noch nicht dokumentiert.",
        "operationId": "getAuthLogtoLogout",
        "x-source-file": "booking/server.js",
        "x-source-line": 2339,
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/auth/logout": {
      "get": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: GET /auth/logout",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:2345`. Schemas noch nicht dokumentiert.",
        "operationId": "getAuthLogout",
        "x-source-file": "booking/server.js",
        "x-source-line": 2345,
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/admin/first-setup": {
      "post": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: POST /api/admin/first-setup",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:2458`. Schemas noch nicht dokumentiert.",
        "operationId": "postApiAdminFirstsetup",
        "x-source-file": "booking/server.js",
        "x-source-line": 2458,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/logs": {
      "post": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: POST /api/logs",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:2526`. Schemas noch nicht dokumentiert.",
        "operationId": "postApiLogs",
        "x-source-file": "booking/server.js",
        "x-source-line": 2526,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/auth/customer/magic": {
      "get": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: GET /auth/customer/magic",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:2813`. Schemas noch nicht dokumentiert.",
        "operationId": "getAuthCustomerMagic",
        "x-source-file": "booking/server.js",
        "x-source-line": 2813,
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/auth/customer/login": {
      "get": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: GET /auth/customer/login",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:2851`. Schemas noch nicht dokumentiert.",
        "operationId": "getAuthCustomerLogin",
        "x-source-file": "booking/server.js",
        "x-source-line": 2851,
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/auth/customer/register": {
      "get": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: GET /auth/customer/register",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:2854`. Schemas noch nicht dokumentiert.",
        "operationId": "getAuthCustomerRegister",
        "x-source-file": "booking/server.js",
        "x-source-line": 2854,
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/auth/customer/logout": {
      "get": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: GET /auth/customer/logout",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:2857`. Schemas noch nicht dokumentiert.",
        "operationId": "getAuthCustomerLogout",
        "x-source-file": "booking/server.js",
        "x-source-line": 2857,
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/auth/customer/callback": {
      "get": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: GET /auth/customer/callback",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:2860`. Schemas noch nicht dokumentiert.",
        "operationId": "getAuthCustomerCallback",
        "x-source-file": "booking/server.js",
        "x-source-line": 2860,
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/customer/logout": {
      "post": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: POST /api/customer/logout",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:2865`. Schemas noch nicht dokumentiert.",
        "operationId": "postApiCustomerLogout",
        "x-source-file": "booking/server.js",
        "x-source-line": 2865,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/customer/verify-email": {
      "get": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: GET /api/customer/verify-email",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:2875`. Schemas noch nicht dokumentiert.",
        "operationId": "getApiCustomerVerifyemail",
        "x-source-file": "booking/server.js",
        "x-source-line": 2875,
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/customer/email-status": {
      "post": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: POST /api/customer/email-status",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:2878`. Schemas noch nicht dokumentiert.",
        "operationId": "postApiCustomerEmailstatus",
        "x-source-file": "booking/server.js",
        "x-source-line": 2878,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/customer/resend-verification": {
      "post": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: POST /api/customer/resend-verification",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:2881`. Schemas noch nicht dokumentiert.",
        "operationId": "postApiCustomerResendverification",
        "x-source-file": "booking/server.js",
        "x-source-line": 2881,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/customer/forgot-password": {
      "post": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: POST /api/customer/forgot-password",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:2884`. Schemas noch nicht dokumentiert.",
        "operationId": "postApiCustomerForgotpassword",
        "x-source-file": "booking/server.js",
        "x-source-line": 2884,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/customer/reset-password": {
      "post": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: POST /api/customer/reset-password",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:2887`. Schemas noch nicht dokumentiert.",
        "operationId": "postApiCustomerResetpassword",
        "x-source-file": "booking/server.js",
        "x-source-line": 2887,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/customer/me": {
      "get": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: GET /api/customer/me",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:2891`. Schemas noch nicht dokumentiert.",
        "operationId": "getApiCustomerMe",
        "x-source-file": "booking/server.js",
        "x-source-line": 2891,
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/customer/orders": {
      "get": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: GET /api/customer/orders",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:2914`. Schemas noch nicht dokumentiert.",
        "operationId": "getApiCustomerOrders",
        "x-source-file": "booking/server.js",
        "x-source-line": 2914,
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/customer/orders/{orderNo}/cancel": {
      "post": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: POST /api/customer/orders/:orderNo/cancel",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:2925`. Schemas noch nicht dokumentiert.",
        "operationId": "postApiCustomerOrdersOrderNoCancel",
        "x-source-file": "booking/server.js",
        "x-source-line": 2925,
        "parameters": [
          {
            "in": "path",
            "name": "orderNo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/customer/orders/{orderNo}/reschedule-check": {
      "post": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: POST /api/customer/orders/:orderNo/reschedule-check",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:2975`. Schemas noch nicht dokumentiert.",
        "operationId": "postApiCustomerOrdersOrderNoReschedulecheck",
        "x-source-file": "booking/server.js",
        "x-source-line": 2975,
        "parameters": [
          {
            "in": "path",
            "name": "orderNo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/customer/orders/{orderNo}/reschedule": {
      "patch": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: PATCH /api/customer/orders/:orderNo/reschedule",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:3145`. Schemas noch nicht dokumentiert.",
        "operationId": "patchApiCustomerOrdersOrderNoReschedule",
        "x-source-file": "booking/server.js",
        "x-source-line": 3145,
        "parameters": [
          {
            "in": "path",
            "name": "orderNo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/customer/orders/{orderNo}/messages": {
      "get": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: GET /api/customer/orders/:orderNo/messages",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:3253`. Schemas noch nicht dokumentiert.",
        "operationId": "getApiCustomerOrdersOrderNoMessages",
        "x-source-file": "booking/server.js",
        "x-source-line": 3253,
        "parameters": [
          {
            "in": "path",
            "name": "orderNo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/customer/orders/{orderNo}/message": {
      "post": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: POST /api/customer/orders/:orderNo/message",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:3267`. Schemas noch nicht dokumentiert.",
        "operationId": "postApiCustomerOrdersOrderNoMessage",
        "x-source-file": "booking/server.js",
        "x-source-line": 3267,
        "parameters": [
          {
            "in": "path",
            "name": "orderNo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/customer/orders/{orderNo}/chat": {
      "get": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: GET /api/customer/orders/:orderNo/chat",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:3298`. Schemas noch nicht dokumentiert.",
        "operationId": "getApiCustomerOrdersOrderNoChat",
        "x-source-file": "booking/server.js",
        "x-source-line": 3298,
        "parameters": [
          {
            "in": "path",
            "name": "orderNo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/customer/orders/{orderNo}/chat/message": {
      "post": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: POST /api/customer/orders/:orderNo/chat/message",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:3315`. Schemas noch nicht dokumentiert.",
        "operationId": "postApiCustomerOrdersOrderNoChatMessage",
        "x-source-file": "booking/server.js",
        "x-source-line": 3315,
        "parameters": [
          {
            "in": "path",
            "name": "orderNo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/customer/orders/{orderNo}/chat/read": {
      "patch": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: PATCH /api/customer/orders/:orderNo/chat/read",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:3353`. Schemas noch nicht dokumentiert.",
        "operationId": "patchApiCustomerOrdersOrderNoChatRead",
        "x-source-file": "booking/server.js",
        "x-source-line": 3353,
        "parameters": [
          {
            "in": "path",
            "name": "orderNo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/customer/orders/{orderNo}/chat/events": {
      "get": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: GET /api/customer/orders/:orderNo/chat/events",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:3368`. Schemas noch nicht dokumentiert.",
        "operationId": "getApiCustomerOrdersOrderNoChatEvents",
        "x-source-file": "booking/server.js",
        "x-source-line": 3368,
        "parameters": [
          {
            "in": "path",
            "name": "orderNo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/availability": {
      "get": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: GET /api/availability",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:3397`. Schemas noch nicht dokumentiert.",
        "operationId": "getApiAvailability",
        "x-source-file": "booking/server.js",
        "x-source-line": 3397,
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/admin/availability": {
      "get": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: GET /api/admin/availability",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:3719`. Schemas noch nicht dokumentiert.",
        "operationId": "getApiAdminAvailability",
        "x-source-file": "booking/server.js",
        "x-source-line": 3719,
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/admin/availability/simulate": {
      "post": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: POST /api/admin/availability/simulate",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:3796`. Schemas noch nicht dokumentiert.",
        "operationId": "postApiAdminAvailabilitySimulate",
        "x-source-file": "booking/server.js",
        "x-source-line": 3796,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/admin/orders/{orderNo}/resend-customer-email": {
      "post": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: POST /api/admin/orders/:orderNo/resend-customer-email",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:4740`. Schemas noch nicht dokumentiert.",
        "operationId": "postApiAdminOrdersOrderNoResendcustomeremail",
        "x-source-file": "booking/server.js",
        "x-source-line": 4740,
        "parameters": [
          {
            "in": "path",
            "name": "orderNo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/admin/orders/{orderNo}/resend-email": {
      "post": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: POST /api/admin/orders/:orderNo/resend-email",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:4827`. Schemas noch nicht dokumentiert.",
        "operationId": "postApiAdminOrdersOrderNoResendemail",
        "x-source-file": "booking/server.js",
        "x-source-line": 4827,
        "parameters": [
          {
            "in": "path",
            "name": "orderNo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/admin/orders/{orderNo}/resend-status-emails": {
      "post": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: POST /api/admin/orders/:orderNo/resend-status-emails",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:4939`. Schemas noch nicht dokumentiert.",
        "operationId": "postApiAdminOrdersOrderNoResendstatusemails",
        "x-source-file": "booking/server.js",
        "x-source-line": 4939,
        "parameters": [
          {
            "in": "path",
            "name": "orderNo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/orders/{orderNo}/ics": {
      "get": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: GET /api/orders/:orderNo/ics",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:5045`. Schemas noch nicht dokumentiert.",
        "operationId": "getApiOrdersOrderNoIcs",
        "x-source-file": "booking/server.js",
        "x-source-line": 5045,
        "parameters": [
          {
            "in": "path",
            "name": "orderNo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/admin/orders/{orderNo}/ics": {
      "get": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: GET /api/admin/orders/:orderNo/ics",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:5061`. Schemas noch nicht dokumentiert.",
        "operationId": "getApiAdminOrdersOrderNoIcs",
        "x-source-file": "booking/server.js",
        "x-source-line": 5061,
        "parameters": [
          {
            "in": "path",
            "name": "orderNo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/admin/storage/health": {
      "get": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: GET /api/admin/storage/health",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:5179`. Schemas noch nicht dokumentiert.",
        "operationId": "getApiAdminStorageHealth",
        "x-source-file": "booking/server.js",
        "x-source-line": 5179,
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/admin/storage/browse": {
      "get": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: GET /api/admin/storage/browse",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:5188`. Schemas noch nicht dokumentiert.",
        "operationId": "getApiAdminStorageBrowse",
        "x-source-file": "booking/server.js",
        "x-source-line": 5188,
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/admin/orders/{orderNo}/storage": {
      "get": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: GET /api/admin/orders/:orderNo/storage",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:5236`. Schemas noch nicht dokumentiert.",
        "operationId": "getApiAdminOrdersOrderNoStorage",
        "x-source-file": "booking/server.js",
        "x-source-line": 5236,
        "parameters": [
          {
            "in": "path",
            "name": "orderNo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/admin/orders/{orderNo}/storage/provision": {
      "post": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: POST /api/admin/orders/:orderNo/storage/provision",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:5258`. Schemas noch nicht dokumentiert.",
        "operationId": "postApiAdminOrdersOrderNoStorageProvision",
        "x-source-file": "booking/server.js",
        "x-source-line": 5258,
        "parameters": [
          {
            "in": "path",
            "name": "orderNo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/admin/orders/{orderNo}/storage/link": {
      "post": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: POST /api/admin/orders/:orderNo/storage/link",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:5271`. Schemas noch nicht dokumentiert.",
        "operationId": "postApiAdminOrdersOrderNoStorageLink",
        "x-source-file": "booking/server.js",
        "x-source-line": 5271,
        "parameters": [
          {
            "in": "path",
            "name": "orderNo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/admin/orders/{orderNo}/storage/nextcloud-share": {
      "post": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: POST /api/admin/orders/:orderNo/storage/nextcloud-share",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:5294`. Schemas noch nicht dokumentiert.",
        "operationId": "postApiAdminOrdersOrderNoStorageNextcloudshare",
        "x-source-file": "booking/server.js",
        "x-source-line": 5294,
        "parameters": [
          {
            "in": "path",
            "name": "orderNo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/admin/orders/{orderNo}/storage/folder": {
      "delete": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: DELETE /api/admin/orders/:orderNo/storage/folder",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:5327`. Schemas noch nicht dokumentiert.",
        "operationId": "deleteApiAdminOrdersOrderNoStorageFolder",
        "x-source-file": "booking/server.js",
        "x-source-line": 5327,
        "parameters": [
          {
            "in": "path",
            "name": "orderNo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/admin/orders/{orderNo}/upload-chunked/init": {
      "post": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: POST /api/admin/orders/:orderNo/upload-chunked/init",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:5343`. Schemas noch nicht dokumentiert.",
        "operationId": "postApiAdminOrdersOrderNoUploadchunkedInit",
        "x-source-file": "booking/server.js",
        "x-source-line": 5343,
        "parameters": [
          {
            "in": "path",
            "name": "orderNo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/admin/orders/{orderNo}/upload-chunked/status": {
      "post": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: POST /api/admin/orders/:orderNo/upload-chunked/status",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:5365`. Schemas noch nicht dokumentiert.",
        "operationId": "postApiAdminOrdersOrderNoUploadchunkedStatus",
        "x-source-file": "booking/server.js",
        "x-source-line": 5365,
        "parameters": [
          {
            "in": "path",
            "name": "orderNo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/admin/orders/{orderNo}/upload-chunked/part": {
      "post": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: POST /api/admin/orders/:orderNo/upload-chunked/part",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:5382`. Schemas noch nicht dokumentiert.",
        "operationId": "postApiAdminOrdersOrderNoUploadchunkedPart",
        "x-source-file": "booking/server.js",
        "x-source-line": 5382,
        "parameters": [
          {
            "in": "path",
            "name": "orderNo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/admin/orders/{orderNo}/upload-chunked/complete": {
      "post": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: POST /api/admin/orders/:orderNo/upload-chunked/complete",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:5425`. Schemas noch nicht dokumentiert.",
        "operationId": "postApiAdminOrdersOrderNoUploadchunkedComplete",
        "x-source-file": "booking/server.js",
        "x-source-line": 5425,
        "parameters": [
          {
            "in": "path",
            "name": "orderNo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/admin/orders/{orderNo}/upload-chunked/finalize": {
      "post": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: POST /api/admin/orders/:orderNo/upload-chunked/finalize",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:5442`. Schemas noch nicht dokumentiert.",
        "operationId": "postApiAdminOrdersOrderNoUploadchunkedFinalize",
        "x-source-file": "booking/server.js",
        "x-source-line": 5442,
        "parameters": [
          {
            "in": "path",
            "name": "orderNo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/admin/orders/{orderNo}/upload": {
      "post": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: POST /api/admin/orders/:orderNo/upload",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:5477`. Schemas noch nicht dokumentiert.",
        "operationId": "postApiAdminOrdersOrderNoUpload",
        "x-source-file": "booking/server.js",
        "x-source-line": 5477,
        "parameters": [
          {
            "in": "path",
            "name": "orderNo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/admin/orders/{orderNo}/upload-batches": {
      "get": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: GET /api/admin/orders/:orderNo/upload-batches",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:5527`. Schemas noch nicht dokumentiert.",
        "operationId": "getApiAdminOrdersOrderNoUploadbatches",
        "x-source-file": "booking/server.js",
        "x-source-line": 5527,
        "parameters": [
          {
            "in": "path",
            "name": "orderNo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/admin/orders/{orderNo}/upload-batches/{batchId}": {
      "get": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: GET /api/admin/orders/:orderNo/upload-batches/:batchId",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:5540`. Schemas noch nicht dokumentiert.",
        "operationId": "getApiAdminOrdersOrderNoUploadbatchesBatchId",
        "x-source-file": "booking/server.js",
        "x-source-line": 5540,
        "parameters": [
          {
            "in": "path",
            "name": "orderNo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "batchId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/admin/orders/{orderNo}/upload-batches/{batchId}/retry": {
      "post": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: POST /api/admin/orders/:orderNo/upload-batches/:batchId/retry",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:5555`. Schemas noch nicht dokumentiert.",
        "operationId": "postApiAdminOrdersOrderNoUploadbatchesBatchIdRetry",
        "x-source-file": "booking/server.js",
        "x-source-line": 5555,
        "parameters": [
          {
            "in": "path",
            "name": "orderNo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "batchId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/admin/orders/{orderNo}/upload-batches/{batchId}/confirm": {
      "post": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: POST /api/admin/orders/:orderNo/upload-batches/:batchId/confirm",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:5571`. Schemas noch nicht dokumentiert.",
        "operationId": "postApiAdminOrdersOrderNoUploadbatchesBatchIdConfirm",
        "x-source-file": "booking/server.js",
        "x-source-line": 5571,
        "parameters": [
          {
            "in": "path",
            "name": "orderNo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "batchId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/admin/orders/{orderNo}/uploads": {
      "get": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: GET /api/admin/orders/:orderNo/uploads",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:5602`. Schemas noch nicht dokumentiert.",
        "operationId": "getApiAdminOrdersOrderNoUploads",
        "x-source-file": "booking/server.js",
        "x-source-line": 5602,
        "parameters": [
          {
            "in": "path",
            "name": "orderNo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/admin/orders/{orderNo}/uploads/file": {
      "get": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: GET /api/admin/orders/:orderNo/uploads/file",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:5626`. Schemas noch nicht dokumentiert.",
        "operationId": "getApiAdminOrdersOrderNoUploadsFile",
        "x-source-file": "booking/server.js",
        "x-source-line": 5626,
        "parameters": [
          {
            "in": "path",
            "name": "orderNo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: DELETE /api/admin/orders/:orderNo/uploads/file",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:5647`. Schemas noch nicht dokumentiert.",
        "operationId": "deleteApiAdminOrdersOrderNoUploadsFile",
        "x-source-file": "booking/server.js",
        "x-source-line": 5647,
        "parameters": [
          {
            "in": "path",
            "name": "orderNo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/admin/orders/{orderNo}/uploads/folder": {
      "delete": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: DELETE /api/admin/orders/:orderNo/uploads/folder",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:5671`. Schemas noch nicht dokumentiert.",
        "operationId": "deleteApiAdminOrdersOrderNoUploadsFolder",
        "x-source-file": "booking/server.js",
        "x-source-line": 5671,
        "parameters": [
          {
            "in": "path",
            "name": "orderNo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/admin/orders/{orderNo}/uploads/websize-sync": {
      "post": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: POST /api/admin/orders/:orderNo/uploads/websize-sync",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:5695`. Schemas noch nicht dokumentiert.",
        "operationId": "postApiAdminOrdersOrderNoUploadsWebsizesync",
        "x-source-file": "booking/server.js",
        "x-source-line": 5695,
        "parameters": [
          {
            "in": "path",
            "name": "orderNo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/admin/orders/{orderNo}/uploads/websize-rebuild": {
      "post": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: POST /api/admin/orders/:orderNo/uploads/websize-rebuild",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:5713`. Schemas noch nicht dokumentiert.",
        "operationId": "postApiAdminOrdersOrderNoUploadsWebsizerebuild",
        "x-source-file": "booking/server.js",
        "x-source-line": 5713,
        "parameters": [
          {
            "in": "path",
            "name": "orderNo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/admin/orders": {
      "get": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: GET /api/admin/orders",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:5737`. Schemas noch nicht dokumentiert.",
        "operationId": "getApiAdminOrders",
        "x-source-file": "booking/server.js",
        "x-source-line": 5737,
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: POST /api/admin/orders",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:6999`. Schemas noch nicht dokumentiert.",
        "operationId": "postApiAdminOrders",
        "x-source-file": "booking/server.js",
        "x-source-line": 6999,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/admin/orders/{orderNo}": {
      "patch": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: PATCH /api/admin/orders/:orderNo",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:5748`. Schemas noch nicht dokumentiert.",
        "operationId": "patchApiAdminOrdersOrderNo",
        "x-source-file": "booking/server.js",
        "x-source-line": 5748,
        "parameters": [
          {
            "in": "path",
            "name": "orderNo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: DELETE /api/admin/orders/:orderNo",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:6949`. Schemas noch nicht dokumentiert.",
        "operationId": "deleteApiAdminOrdersOrderNo",
        "x-source-file": "booking/server.js",
        "x-source-line": 6949,
        "parameters": [
          {
            "in": "path",
            "name": "orderNo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "get": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: GET /api/admin/orders/:orderNo",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:7253`. Schemas noch nicht dokumentiert.",
        "operationId": "getApiAdminOrdersOrderNo",
        "x-source-file": "booking/server.js",
        "x-source-line": 7253,
        "parameters": [
          {
            "in": "path",
            "name": "orderNo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/admin/orders/{orderNo}/status": {
      "patch": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: PATCH /api/admin/orders/:orderNo/status",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:5966`. Schemas noch nicht dokumentiert.",
        "operationId": "patchApiAdminOrdersOrderNoStatus",
        "x-source-file": "booking/server.js",
        "x-source-line": 5966,
        "parameters": [
          {
            "in": "path",
            "name": "orderNo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/admin/orders/{orderNo}/email-log": {
      "get": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: GET /api/admin/orders/:orderNo/email-log",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:6304`. Schemas noch nicht dokumentiert.",
        "operationId": "getApiAdminOrdersOrderNoEmaillog",
        "x-source-file": "booking/server.js",
        "x-source-line": 6304,
        "parameters": [
          {
            "in": "path",
            "name": "orderNo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/admin/orders/{orderNo}/messages": {
      "get": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: GET /api/admin/orders/:orderNo/messages",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:6355`. Schemas noch nicht dokumentiert.",
        "operationId": "getApiAdminOrdersOrderNoMessages",
        "x-source-file": "booking/server.js",
        "x-source-line": 6355,
        "parameters": [
          {
            "in": "path",
            "name": "orderNo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/admin/orders/{orderNo}/message": {
      "post": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: POST /api/admin/orders/:orderNo/message",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:6373`. Schemas noch nicht dokumentiert.",
        "operationId": "postApiAdminOrdersOrderNoMessage",
        "x-source-file": "booking/server.js",
        "x-source-line": 6373,
        "parameters": [
          {
            "in": "path",
            "name": "orderNo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/admin/orders/{orderNo}/chat": {
      "get": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: GET /api/admin/orders/:orderNo/chat",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:6419`. Schemas noch nicht dokumentiert.",
        "operationId": "getApiAdminOrdersOrderNoChat",
        "x-source-file": "booking/server.js",
        "x-source-line": 6419,
        "parameters": [
          {
            "in": "path",
            "name": "orderNo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/admin/orders/{orderNo}/chat/message": {
      "post": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: POST /api/admin/orders/:orderNo/chat/message",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:6439`. Schemas noch nicht dokumentiert.",
        "operationId": "postApiAdminOrdersOrderNoChatMessage",
        "x-source-file": "booking/server.js",
        "x-source-line": 6439,
        "parameters": [
          {
            "in": "path",
            "name": "orderNo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/admin/orders/{orderNo}/chat/read": {
      "patch": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: PATCH /api/admin/orders/:orderNo/chat/read",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:6500`. Schemas noch nicht dokumentiert.",
        "operationId": "patchApiAdminOrdersOrderNoChatRead",
        "x-source-file": "booking/server.js",
        "x-source-line": 6500,
        "parameters": [
          {
            "in": "path",
            "name": "orderNo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/admin/orders/{orderNo}/chat/events": {
      "get": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: GET /api/admin/orders/:orderNo/chat/events",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:6520`. Schemas noch nicht dokumentiert.",
        "operationId": "getApiAdminOrdersOrderNoChatEvents",
        "x-source-file": "booking/server.js",
        "x-source-line": 6520,
        "parameters": [
          {
            "in": "path",
            "name": "orderNo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/admin/orders/{orderNo}/reschedule": {
      "patch": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: PATCH /api/admin/orders/:orderNo/reschedule",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:6553`. Schemas noch nicht dokumentiert.",
        "operationId": "patchApiAdminOrdersOrderNoReschedule",
        "x-source-file": "booking/server.js",
        "x-source-line": 6553,
        "parameters": [
          {
            "in": "path",
            "name": "orderNo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/admin/orders/{orderNo}/photographer": {
      "patch": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: PATCH /api/admin/orders/:orderNo/photographer",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:6752`. Schemas noch nicht dokumentiert.",
        "operationId": "patchApiAdminOrdersOrderNoPhotographer",
        "x-source-file": "booking/server.js",
        "x-source-line": 6752,
        "parameters": [
          {
            "in": "path",
            "name": "orderNo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/bot": {
      "post": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: POST /api/bot",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:7281`. Schemas noch nicht dokumentiert.",
        "operationId": "postApiBot",
        "x-source-file": "booking/server.js",
        "x-source-line": 7281,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/admin/orders/{orderNo}/review/resend": {
      "post": {
        "tags": [
          "booking"
        ],
        "summary": "TODO: POST /api/admin/orders/:orderNo/review/resend",
        "description": "**Auto-generierter Stub.** Quelle: `booking/server.js:7341`. Schemas noch nicht dokumentiert.",
        "operationId": "postApiAdminOrdersOrderNoReviewResend",
        "x-source-file": "booking/server.js",
        "x-source-line": 7341,
        "parameters": [
          {
            "in": "path",
            "name": "orderNo",
            "required": true,
            "schema": {
[...]
