# Propus Platform — Unified OpenAPI 3.1 Spec
#
# Diese Datei enthält sowohl kuratierte Einträge (mit echten Schemas)
# als auch auto-generierte Stubs aus booking/server.js + tours/routes/*.js.
# Auto-Stubs sind an `summary: 'TODO: ...'` und `x-source-file` erkennbar.
#
# Stubs regenerieren: `node scripts/extract-routes.js`
# Manuelle Einträge bleiben beim Regen erhalten.

openapi: 3.1.0
info:
  title: Propus Booking API
  version: 1.0.0
  description: |
    Backend-API für das Buchungstool von Propus GmbH. Serviert sowohl die
    öffentliche Buchungsstrecke (`/api/booking*`) als auch die Admin-Oberfläche
    (`/api/admin/*`, `/auth/*`).

    **Hinweise:**
    - Die meisten Routen liegen hinter Cloudflare + Nginx; `req.ip` ist die
      echte Client-IP (Trust-Proxy aktiv).
    - Sicherheitskritische Routen sind per `express-rate-limit` geschützt
      (siehe `booking/rate-limiters.js`).
    - Auth: Admin-Sessions via `admin_session`-Cookie (HttpOnly) **oder**
      `Authorization: Bearer <token>`-Header.
  contact:
    name: Propus Platform Team
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
servers:
  - url: https://booking.propus.ch
    description: Produktion (Public Booking Frontend)
  - url: https://admin-booking.propus.ch
    description: Produktion (Admin Backend)
  - url: http://localhost:3100
    description: Lokale Entwicklung (Express direkt)
tags:
  - name: auth
    description: Login, Sessions, Admin-Authentifizierung
  - name: booking
    description: Öffentliche Buchungsstrecke + Bestätigung
  - name: bookkeeper
    description: >-
      Buchhaltungs-Pipeline (Block 4). Backend-Proxy zum
      propus-bookkeeper-Container auf der NAS, der Belege via KI-Cascade (Sonnet
      4.6 → Opus 4.7) extrahiert, Custom Fields in Paperless schreibt, und nach
      Approval in bexio pusht. Alle Routes erfordern Admin-Cookie.
  - name: next-assistant
  - name: next-chat
  - name: next-cockpit
  - name: next-core
  - name: next-cron
  - name: next-teams-oauth
  - name: system
    description: Health-Check, Build-Info, Feature-Flags
  - name: tours
    description: >-
      Tour-Manager Public- und Service-Endpunkte (Matterport-Viewer,
      Gallery-API, Cron).
  - name: tours-admin
    description: >-
      Admin-Oberfläche des Tour-Managers (`/api/tours/admin/*` und
      `/tour-manager/admin/*`). Erfordert Admin-Session.
  - name: tours-auth
    description: Login- und Session-Handling des Tour-Managers (`/tour-manager/*`).
  - name: tours-customer
    description: >-
      Kunden-Self-Service-Links (`/tour-manager/r/*`), adressiert per
      Signed-URL.
  - name: tours-portal
    description: >-
      Kunden-Portal-API (`/tour-manager/portal/*`). Erfordert Portal-Session
      (`requirePortalSession`).
  - name: tours-webhook
    description: Eingehende Webhooks (z. B. Payrexx-Zahlungsstatus).
security: []
paths:
  /api/admin/login:
    post:
      tags:
        - auth
      summary: Admin-Login
      description: |
        Klassischer Username/Passwort-Login gegen `core.admin_users`. Setzt
        ein `admin_session`-Cookie und liefert zusätzlich einen Bearer-Token
        zurück, den das Admin-Panel im LocalStorage hält.

        **Rate-Limit:** 5 Versuche / 15 min pro IP (`authLimiter`).
      operationId: adminLoginLegacy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - username
                - password
              properties:
                username:
                  type: string
                  description: E-Mail oder Username
                  example: admin@propus.ch
                password:
                  type: string
                  format: password
                rememberMe:
                  type: boolean
                  default: false
                  description: Verlängert Session-Cookie auf 30 Tage
      responses:
        '200':
          description: Login erfolgreich
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginSuccess'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          description: Ungültige Zugangsdaten
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          description: Datenbank nicht konfiguriert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/login:
    post:
      tags:
        - auth
      summary: Unified Admin-Login
      description: |
        Neuere, vereinheitlichte Login-Route. Akzeptiert sowohl `email` als
        auch `username` als Login-ID. Wird vom Admin-Panel via Next.js-Proxy
        (`/api/auth/login` → `/auth/login`) angesprochen.

        Liefert dasselbe Response-Format wie `/api/admin/login`.

        **Rate-Limit:** 5 Versuche / 15 min pro IP (`authLimiter`, gleicher
        Bucket wie `/api/admin/login`).
      operationId: adminLoginUnified
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - password
              properties:
                email:
                  type: string
                  format: email
                  description: Login-ID (entweder `email` oder `username` setzen)
                username:
                  type: string
                  description: Login-ID (entweder `email` oder `username` setzen)
                password:
                  type: string
                  format: password
                rememberMe:
                  type: boolean
                  default: false
      responses:
        '200':
          description: Login erfolgreich
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginSuccess'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          description: Ungültige Zugangsdaten
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /api/booking:
    post:
      tags:
        - booking
      summary: Öffentliche Buchungsanfrage
      description: |
        Hauptendpunkt der öffentlichen Buchungsstrecke. Akzeptiert die
        komplette Buchungs-Payload (Termin, Fotograf, Adresse, Services,
        Kontakt) und legt eine `booking.orders`-Zeile an.

        Bei Erfolg wird eine Bestätigungs-E-Mail mit Token-Link verschickt
        (siehe `/api/booking/confirm/:token`).

        **Rate-Limit:** 10 Submits / 60 min pro IP (`bookingLimiter`,
        eigener Bucket — Schutz vor Spam und Mailkosten).

        **TODO:** Vollständiges Body-Schema (`schedule`, `billing`,
        `object`, `services`, `address`, `keyPickup`, ...) ergänzen.
        Aktuell `additionalProperties: true`, weil ein eigenes Doku-Ticket
        benötigt wird, um alle Felder + ihre Validierung zu erfassen.
      operationId: createBooking
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              properties:
                schedule:
                  type: object
                  properties:
                    photographer:
                      type: object
                      properties:
                        key:
                          type: string
                          description: Fotograf-Key oder `"any"` für Smart-Assignment
                        name:
                          type: string
                    date:
                      type: string
                      format: date
                    time:
                      type: string
                      pattern: ^[0-9]{2}:[0-9]{2}$
                billing:
                  type: object
                  properties:
                    email:
                      type: string
                      format: email
                  additionalProperties: true
                object:
                  type: object
                  additionalProperties: true
                services:
                  type: object
                  additionalProperties: true
                address:
                  type: object
                  additionalProperties: true
                keyPickup:
                  type: object
                  additionalProperties: true
      responses:
        '200':
          description: Buchung angelegt
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  orderNo:
                    type: string
                    description: Generierte Auftragsnummer
                  requestId:
                    type: string
                  warnings:
                    type: array
                    items:
                      type: string
                additionalProperties: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
  /api/booking/confirm/{token}:
    get:
      tags:
        - booking
      summary: Buchung per Token-Link bestätigen
      description: |
        Wird vom Bestätigungs-Link in der E-Mail aufgerufen. Setzt
        `orders.status = 'confirmed'` und legt anschliessend Kalender-
        Einträge (Fotograf + Office) an.

        **Idempotent:** Wiederholtes Aufrufen mit demselben Token gibt
        `{ ok: true, already: true }` zurück.

        **Rate-Limit:** 10 Versuche / 15 min pro IP (`confirmTokenLimiter`,
        eigener Bucket — verhindert dass Bots, die öffentliche Confirm-Links
        spammen, das Admin-Login-Budget aus derselben NAT-IP auffressen).
      operationId: confirmBooking
      parameters:
        - in: path
          name: token
          required: true
          schema:
            type: string
            minLength: 32
          description: Confirmation-Token aus der E-Mail
      responses:
        '200':
          description: Bestätigung erfolgreich (oder bereits bestätigt)
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  already:
                    type: boolean
                    description: True wenn Status bereits `confirmed` war
                  status:
                    type: string
                  orderNo:
                    type: string
        '400':
          description: Ungültiges Token-Format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Token unbekannt oder bereits gelöscht
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '410':
          description: Token abgelaufen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          description: Service nicht verfügbar (DB nicht erreichbar)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/health:
    get:
      tags:
        - system
      summary: Health-Check + Feature-Flags
      description: |
        Liefert Build-ID, Uptime und aktive Feature-Flags. Wird vom
        Container-Healthcheck (`docker-compose.vps.yml`) und vom Smoke-Test
        in der CI verwendet.
      operationId: getHealth
      responses:
        '200':
          description: Service ist erreichbar
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - buildId
                  - uptimeSec
                  - dbEnabled
                properties:
                  ok:
                    type: boolean
                    enum:
                      - true
                  buildId:
                    type: string
                  hasPricingPreviewRoute:
                    type: boolean
                  features:
                    type: object
                    additionalProperties:
                      type: boolean
                  dbEnabled:
                    type: boolean
                    description: True wenn `DATABASE_URL` gesetzt ist
                  uptimeSec:
                    type: integer
                    minimum: 0
        '503':
          description: Service degraded (z. B. DB nicht erreichbar)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/admin/me/home:
    get:
      tags:
        - booking
      summary: Heim-Adresse des eingeloggten Mitarbeiters
      description: >-
        Liefert die in `photographer_settings.home_address` (+ optional Lat/Lng)
        hinterlegte Heim-Adresse des Fotografen. Wird vom Mobile-Orders-Tab fuer
        den Heimfahrt-Divider am Tagesende verwendet (Routing ab letztem Termin
        → home). Match via `LOWER(photographers.email) = LOWER(session.email)`.
        Fuer Admins ohne Mitarbeiter-Verknuepfung sind alle Felder `null`; UI
        faellt dann auf "Heimfahrt nicht verfuegbar".

        Siehe `docs/FLOWS_BOOKING.md` §20 Mobile Tagesplan & Live-Routing.
      operationId: getApiAdminMeHome
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - homeAddress
                  - homeLat
                  - homeLng
                properties:
                  ok:
                    type: boolean
                  homeAddress:
                    type:
                      - string
                      - 'null'
                    description: >-
                      Volltext-Adresse (z.B. "Bahnhofstrasse 12, 8038 Zürich")
                      oder null.
                    example: 8038 Zürich
                  homeLat:
                    type:
                      - number
                      - 'null'
                    format: float
                    description: Breitengrad — falls geocodiert. null sonst.
                  homeLng:
                    type:
                      - number
                      - 'null'
                    format: float
                    description: Längengrad — falls geocodiert. null sonst.
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/dashboard/drive-times:
    post:
      tags:
        - booking
      summary: Live-Fahrzeiten von einer GPS-Position zu mehreren Zieladressen
      description: >-
        **Manueller Eintrag** — Next.js-Route in
        `app/src/app/api/dashboard/drive-times/route.ts`, wird vom Auto-Scanner
        (`extract-routes.js`) nicht erfasst.

        Liefert Live-Verkehrs-Fahrzeiten von einer Origin-Koordinate zu bis zu
        25 Ziel-Adressen via Google Distance Matrix API. Pro Element ~$0.005 →
        Rate-Limits aus Bug-Hunt M01:

        **Rate-Limit:** 30 Anfragen/Minute pro Session, 1000/Tag (konfigurierbar
        via `DRIVE_TIMES_PER_MIN_LIMIT`/`DRIVE_TIMES_PER_DAY_LIMIT`). Ausnahmen:
        `ASSISTANT_UNLIMITED_EMAILS`-Liste.

        Genutzt von: `dashboard-v2/TodayCard` und `MobileOrdersTab`
        (Mobile-Phase 2 Live-Routing).

        Siehe `docs/FLOWS_BOOKING.md` §20 Mobile Tagesplan & Live-Routing.
      operationId: postApiDashboardDriveTimes
      security:
        - bearerAuth: []
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - lat
                - lng
                - legs
              properties:
                lat:
                  type: number
                  format: float
                  minimum: -90
                  maximum: 90
                  description: Origin-Breitengrad (z.B. aus useGeolocation).
                lng:
                  type: number
                  format: float
                  minimum: -180
                  maximum: 180
                  description: Origin-Längengrad.
                legs:
                  type: array
                  description: Bis zu 25 Ziele (MAX_LEGS); weitere werden ignoriert.
                  maxItems: 25
                  items:
                    type: object
                    required:
                      - orderNo
                      - address
                    properties:
                      orderNo:
                        type: string
                      address:
                        type: string
                        minLength: 3
      responses:
        '200':
          description: OK — pro Leg ein Eintrag mit Fahrzeit + Distanz aus Google Maps.
          content:
            application/json:
              schema:
                type: object
                required:
                  - legs
                properties:
                  legs:
                    type: array
                    items:
                      type: object
                      properties:
                        orderNo:
                          type: string
                        durationText:
                          type:
                            - string
                            - 'null'
                          description: >-
                            z.B. "12 mins" oder "1 hour 5 mins" —
                            Google-Maps-Format mit Live-Verkehr.
                          example: 32 mins
                        distanceText:
                          type:
                            - string
                            - 'null'
                          example: 8.4 km
                        status:
                          type: string
                          description: OK / ZERO_RESULTS / NOT_FOUND / etc.
                          example: OK
        '400':
          description: >-
            Ungültiges JSON, lat/lng ausserhalb Range, leere legs,
            Maps-Provider-Fehler.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Portal-only Rolle ohne Impersonation.
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          description: GOOGLE_MAPS-Konfiguration fehlt oder Provider nicht erreichbar.
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/bookkeeper/counts:
    get:
      tags:
        - bookkeeper
      summary: Status-Counts der Buchhaltungs-Pipeline
      description: >-
        Live-Counts aller Belege pro Pipeline-Stage (pending, vorgeschlagen,
        approved, verbucht, fehler, spam, abgleich, duplikat). Quelle:
        Paperless-NGX via Backend-Proxy. 503 wenn Token nicht konfiguriert.
      responses:
        '200':
          description: Counts
          content:
            application/json:
              schema:
                type: object
                properties:
                  configured:
                    type: boolean
                  counts:
                    type: object
                    additionalProperties:
                      type: integer
        '503':
          $ref: '#/components/responses/ServerError'
  /api/admin/bookkeeper/documents:
    get:
      tags:
        - bookkeeper
      summary: Liste der Belege eines Status
      parameters:
        - name: status
          in: query
          required: true
          schema:
            type: string
            enum:
              - pending
              - vorgeschlagen
              - approved
              - verbucht
              - fehler
              - spam
              - abgleich
              - duplikat
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 200
        - name: min_confidence
          in: query
          schema:
            type: integer
            minimum: 0
            maximum: 100
        - name: max_confidence
          in: query
          schema:
            type: integer
            minimum: 0
            maximum: 100
      responses:
        '200':
          description: Document list mit Custom Fields
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  total:
                    type: integer
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        title:
                          type: string
                        added:
                          type: string
                          format: date-time
                        tags:
                          type: array
                          items:
                            type: integer
                        custom_fields:
                          type: object
                          additionalProperties: true
  /api/admin/bookkeeper/documents/{id}:
    get:
      tags:
        - bookkeeper
      summary: Detail eines Belegs (Paperless-Passthrough)
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Doc Detail
    patch:
      tags:
        - bookkeeper
      summary: Inline-Edit der Custom Fields (mit Merge-Logic)
      description: >-
        Wichtig: Paperless `PATCH custom_fields=[...]` ist ein REPLACE der
        gesamten Liste. Der Backend-Proxy merged automatisch mit existierenden
        Feldern, sodass nur die übergebenen Felder geändert werden.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - fields
              properties:
                fields:
                  type: object
                  description: '{ "<paperless_field_id>": <value>, ... }'
                  additionalProperties: true
      responses:
        '200':
          description: ok
    delete:
      tags:
        - bookkeeper
      summary: Beleg in Paperless-Trash + optional bexio-Storno
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: also_bexio
          in: query
          schema:
            type: boolean
            default: false
          description: 'Wenn true: auch zugehörige bexio-Buchung stornieren'
      responses:
        '200':
          description: Result inkl. Paperless- und bexio-Status
  /api/admin/bookkeeper/documents/{id}/approve:
    post:
      tags:
        - bookkeeper
      summary: Tag-Swap vorgeschlagen → approved
      description: >-
        Container pollt approved-Belege und pusht sie nach bexio (sofern
        BOOKKEEPER_DRY_RUN=false).
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: ok
  /api/admin/bookkeeper/documents/{id}/reject:
    post:
      tags:
        - bookkeeper
      summary: Beleg auf pending zurück (Re-Cascade)
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: ok
  /api/admin/bookkeeper/documents/{id}/spam:
    post:
      tags:
        - bookkeeper
      summary: Beleg als spam markieren
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: ok
  /api/admin/bookkeeper/preflight/{id}:
    get:
      tags:
        - bookkeeper
      summary: Pre-Flight-Check vor bexio-Push
      description: Prüft Pflichtfelder + Existenz der Soll/Haben-Konten in bexio.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Pre-Flight-Result
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  doc_id:
                    type: integer
                  issues:
                    type: array
                    items:
                      type: object
                      properties:
                        severity:
                          type: string
                          enum:
                            - error
                            - warn
                        field:
                          type: string
                        msg:
                          type: string
  /api/admin/bookkeeper/feedback:
    post:
      tags:
        - bookkeeper
      summary: User-Korrektur loggen (KI-Training-Sample)
      description: >-
        Persistiert in `core.bookkeeper_feedback` und patcht das Custom Field in
        Paperless live. Der `generate_few_shot.py`-Generator liest unapplied
        Einträge und webt sie in `prompts/extractor.txt` ein.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - doc_id
                - field_id
              properties:
                doc_id:
                  type: integer
                field_id:
                  type: integer
                  description: Paperless-Custom-Field-ID (2..18)
                original_value:
                  type: string
                corrected_value:
                  type: string
                reason:
                  type: string
      responses:
        '200':
          description: ok
    get:
      tags:
        - bookkeeper
      summary: Feedback-Liste (Audit + Training-View)
      parameters:
        - name: unapplied
          in: query
          schema:
            type: string
            enum:
              - '1'
      responses:
        '200':
          description: Feedback-Rows
  /api/admin/bookkeeper/recascade:
    post:
      tags:
        - bookkeeper
      summary: Bulk-Re-Cascade aller Belege eines Status
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - status
              properties:
                status:
                  type: string
                  enum:
                    - vorgeschlagen
                    - approved
                    - fehler
                    - spam
                    - abgleich
                    - duplikat
      responses:
        '200':
          description: migrated count
  /auth/logout:
    get:
      tags:
        - booking
      summary: 'TODO: GET /auth/logout'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:2659`. Schemas
        noch nicht dokumentiert.
      operationId: getAuthLogout
      x-source-file: booking/server.js
      x-source-line: 2659
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        5XX:
          $ref: '#/components/responses/ServerError'
  /auth/profile:
    get:
      tags:
        - booking
      summary: 'TODO: GET /auth/profile'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:2783`. Schemas
        noch nicht dokumentiert.
      operationId: getAuthProfile
      x-source-file: booking/server.js
      x-source-line: 2783
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        5XX:
          $ref: '#/components/responses/ServerError'
  /auth/me:
    get:
      tags:
        - booking
      summary: 'TODO: GET /auth/me'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:2814`. Schemas
        noch nicht dokumentiert.
      operationId: getAuthMe
      x-source-file: booking/server.js
      x-source-line: 2814
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        5XX:
          $ref: '#/components/responses/ServerError'
  /auth/impersonation-claim:
    get:
      tags:
        - booking
      summary: 'TODO: GET /auth/impersonation-claim'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:2846`. Schemas
        noch nicht dokumentiert.
      operationId: getAuthImpersonationclaim
      x-source-file: booking/server.js
      x-source-line: 2846
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        5XX:
          $ref: '#/components/responses/ServerError'
  /auth/impersonate-consume:
    get:
      tags:
        - booking
      summary: 'TODO: GET /auth/impersonate-consume'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:2876`. Schemas
        noch nicht dokumentiert.
      operationId: getAuthImpersonateconsume
      x-source-file: booking/server.js
      x-source-line: 2876
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/first-setup:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/admin/first-setup'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:2926`. Schemas
        noch nicht dokumentiert.
      operationId: postApiAdminFirstsetup
      x-source-file: booking/server.js
      x-source-line: 2926
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/logs:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/logs'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:3003`. Schemas
        noch nicht dokumentiert.
      operationId: postApiLogs
      x-source-file: booking/server.js
      x-source-line: 3003
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        5XX:
          $ref: '#/components/responses/ServerError'
  /auth/customer/magic:
    get:
      tags:
        - booking
      summary: 'TODO: GET /auth/customer/magic'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:3328`. Schemas
        noch nicht dokumentiert.
      operationId: getAuthCustomerMagic
      x-source-file: booking/server.js
      x-source-line: 3328
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        5XX:
          $ref: '#/components/responses/ServerError'
  /auth/customer/login:
    get:
      tags:
        - booking
      summary: 'TODO: GET /auth/customer/login'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:3366`. Schemas
        noch nicht dokumentiert.
      operationId: getAuthCustomerLogin
      x-source-file: booking/server.js
      x-source-line: 3366
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        5XX:
          $ref: '#/components/responses/ServerError'
  /auth/customer/register:
    get:
      tags:
        - booking
      summary: 'TODO: GET /auth/customer/register'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:3369`. Schemas
        noch nicht dokumentiert.
      operationId: getAuthCustomerRegister
      x-source-file: booking/server.js
      x-source-line: 3369
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        5XX:
          $ref: '#/components/responses/ServerError'
  /auth/customer/logout:
    get:
      tags:
        - booking
      summary: 'TODO: GET /auth/customer/logout'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:3372`. Schemas
        noch nicht dokumentiert.
      operationId: getAuthCustomerLogout
      x-source-file: booking/server.js
      x-source-line: 3372
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        5XX:
          $ref: '#/components/responses/ServerError'
  /auth/customer/callback:
    get:
      tags:
        - booking
      summary: 'TODO: GET /auth/customer/callback'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:3375`. Schemas
        noch nicht dokumentiert.
      operationId: getAuthCustomerCallback
      x-source-file: booking/server.js
      x-source-line: 3375
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/customer/login:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/customer/login'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:3382`. Schemas
        noch nicht dokumentiert.


        **Rate-Limit:** `authLimiter` (siehe `booking/rate-limiters.js`).
      operationId: postApiCustomerLogin
      x-source-file: booking/server.js
      x-source-line: 3382
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '429':
          $ref: '#/components/responses/TooManyRequests'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/customer/logout:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/customer/logout'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:3415`. Schemas
        noch nicht dokumentiert.
      operationId: postApiCustomerLogout
      x-source-file: booking/server.js
      x-source-line: 3415
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/customer/verify-email:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/customer/verify-email'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:3430`. Schemas
        noch nicht dokumentiert.


        **Rate-Limit:** `confirmTokenLimiter` (siehe
        `booking/rate-limiters.js`).
      operationId: getApiCustomerVerifyemail
      x-source-file: booking/server.js
      x-source-line: 3430
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '429':
          $ref: '#/components/responses/TooManyRequests'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/customer/email-status:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/customer/email-status'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:3433`. Schemas
        noch nicht dokumentiert.


        **Rate-Limit:** `passwordResetLimiter` (siehe
        `booking/rate-limiters.js`).
      operationId: postApiCustomerEmailstatus
      x-source-file: booking/server.js
      x-source-line: 3433
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '429':
          $ref: '#/components/responses/TooManyRequests'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/customer/resend-verification:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/customer/resend-verification'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:3436`. Schemas
        noch nicht dokumentiert.


        **Rate-Limit:** `passwordResetLimiter` (siehe
        `booking/rate-limiters.js`).
      operationId: postApiCustomerResendverification
      x-source-file: booking/server.js
      x-source-line: 3436
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '429':
          $ref: '#/components/responses/TooManyRequests'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/customer/forgot-password:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/customer/forgot-password'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:3439`. Schemas
        noch nicht dokumentiert.


        **Rate-Limit:** `passwordResetLimiter` (siehe
        `booking/rate-limiters.js`).
      operationId: postApiCustomerForgotpassword
      x-source-file: booking/server.js
      x-source-line: 3439
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '429':
          $ref: '#/components/responses/TooManyRequests'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/customer/reset-password:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/customer/reset-password'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:3442`. Schemas
        noch nicht dokumentiert.


        **Rate-Limit:** `confirmTokenLimiter` (siehe
        `booking/rate-limiters.js`).
      operationId: postApiCustomerResetpassword
      x-source-file: booking/server.js
      x-source-line: 3442
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '429':
          $ref: '#/components/responses/TooManyRequests'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/customer/me:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/customer/me'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:3446`. Schemas
        noch nicht dokumentiert.
      operationId: getApiCustomerMe
      x-source-file: booking/server.js
      x-source-line: 3446
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/customer/orders:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/customer/orders'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:3474`. Schemas
        noch nicht dokumentiert.
      operationId: getApiCustomerOrders
      x-source-file: booking/server.js
      x-source-line: 3474
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/customer/team:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/customer/team'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:4017`. Schemas
        noch nicht dokumentiert.
      operationId: getApiCustomerTeam
      x-source-file: booking/server.js
      x-source-line: 4017
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/customer/team/invite:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/customer/team/invite'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:4028`. Schemas
        noch nicht dokumentiert.
      operationId: postApiCustomerTeamInvite
      x-source-file: booking/server.js
      x-source-line: 4028
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/customer/team/{memberId}:
    patch:
      tags:
        - booking
      summary: 'TODO: PATCH /api/customer/team/:memberId'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:4048`. Schemas
        noch nicht dokumentiert.
      operationId: patchApiCustomerTeamMemberId
      x-source-file: booking/server.js
      x-source-line: 4048
      parameters:
        - in: path
          name: memberId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/availability:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/availability'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:4089`. Schemas
        noch nicht dokumentiert.
      operationId: getApiAvailability
      x-source-file: booking/server.js
      x-source-line: 4089
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/availability:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/admin/availability'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:4411`. Schemas
        noch nicht dokumentiert.
      operationId: getApiAdminAvailability
      x-source-file: booking/server.js
      x-source-line: 4411
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/availability/simulate:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/admin/availability/simulate'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:4488`. Schemas
        noch nicht dokumentiert.
      operationId: postApiAdminAvailabilitySimulate
      x-source-file: booking/server.js
      x-source-line: 4488
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/booking/duplicate-check:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/booking/duplicate-check'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:4563`. Schemas
        noch nicht dokumentiert.


        **Rate-Limit:** `bookingLimiter` (siehe `booking/rate-limiters.js`).
      operationId: postApiBookingDuplicatecheck
      x-source-file: booking/server.js
      x-source-line: 4563
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '429':
          $ref: '#/components/responses/TooManyRequests'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/resend-customer-email:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/admin/orders/:orderNo/resend-customer-email'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:5469`. Schemas
        noch nicht dokumentiert.
      operationId: postApiAdminOrdersOrderNoResendcustomeremail
      x-source-file: booking/server.js
      x-source-line: 5469
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/resend-email:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/admin/orders/:orderNo/resend-email'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:5556`. Schemas
        noch nicht dokumentiert.
      operationId: postApiAdminOrdersOrderNoResendemail
      x-source-file: booking/server.js
      x-source-line: 5556
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/resend-status-emails:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/admin/orders/:orderNo/resend-status-emails'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:5668`. Schemas
        noch nicht dokumentiert.
      operationId: postApiAdminOrdersOrderNoResendstatusemails
      x-source-file: booking/server.js
      x-source-line: 5668
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/orders/{orderNo}/ics:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/orders/:orderNo/ics'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:5774`. Schemas
        noch nicht dokumentiert.
      operationId: getApiOrdersOrderNoIcs
      x-source-file: booking/server.js
      x-source-line: 5774
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/ics:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/admin/orders/:orderNo/ics'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:5790`. Schemas
        noch nicht dokumentiert.
      operationId: getApiAdminOrdersOrderNoIcs
      x-source-file: booking/server.js
      x-source-line: 5790
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/upload-batch-notification/test-send:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/admin/upload-batch-notification/test-send'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:5942`. Schemas
        noch nicht dokumentiert.
      operationId: postApiAdminUploadbatchnotificationTestsend
      x-source-file: booking/server.js
      x-source-line: 5942
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/storage/health:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/admin/storage/health'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:5980`. Schemas
        noch nicht dokumentiert.
      operationId: getApiAdminStorageHealth
      x-source-file: booking/server.js
      x-source-line: 5980
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/storage/browse:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/admin/storage/browse'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:5989`. Schemas
        noch nicht dokumentiert.
      operationId: getApiAdminStorageBrowse
      x-source-file: booking/server.js
      x-source-line: 5989
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/storage:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/admin/orders/:orderNo/storage'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:6037`. Schemas
        noch nicht dokumentiert.
      operationId: getApiAdminOrdersOrderNoStorage
      x-source-file: booking/server.js
      x-source-line: 6037
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/storage/provision:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/admin/orders/:orderNo/storage/provision'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:6059`. Schemas
        noch nicht dokumentiert.
      operationId: postApiAdminOrdersOrderNoStorageProvision
      x-source-file: booking/server.js
      x-source-line: 6059
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/storage/link:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/admin/orders/:orderNo/storage/link'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:6072`. Schemas
        noch nicht dokumentiert.
      operationId: postApiAdminOrdersOrderNoStorageLink
      x-source-file: booking/server.js
      x-source-line: 6072
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/storage/nextcloud-share:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/admin/orders/:orderNo/storage/nextcloud-share'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:6095`. Schemas
        noch nicht dokumentiert.
      operationId: postApiAdminOrdersOrderNoStorageNextcloudshare
      x-source-file: booking/server.js
      x-source-line: 6095
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/storage/folder:
    delete:
      tags:
        - booking
      summary: 'TODO: DELETE /api/admin/orders/:orderNo/storage/folder'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:6168`. Schemas
        noch nicht dokumentiert.
      operationId: deleteApiAdminOrdersOrderNoStorageFolder
      x-source-file: booking/server.js
      x-source-line: 6168
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/storage/raw-to-customer:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/admin/orders/:orderNo/storage/raw-to-customer'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:6184`. Schemas
        noch nicht dokumentiert.
      operationId: postApiAdminOrdersOrderNoStorageRawtocustomer
      x-source-file: booking/server.js
      x-source-line: 6184
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/upload-chunked/init:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/admin/orders/:orderNo/upload-chunked/init'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:6204`. Schemas
        noch nicht dokumentiert.
      operationId: postApiAdminOrdersOrderNoUploadchunkedInit
      x-source-file: booking/server.js
      x-source-line: 6204
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/upload-chunked/status:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/admin/orders/:orderNo/upload-chunked/status'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:6226`. Schemas
        noch nicht dokumentiert.
      operationId: postApiAdminOrdersOrderNoUploadchunkedStatus
      x-source-file: booking/server.js
      x-source-line: 6226
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/upload-chunked/part:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/admin/orders/:orderNo/upload-chunked/part'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:6243`. Schemas
        noch nicht dokumentiert.
      operationId: postApiAdminOrdersOrderNoUploadchunkedPart
      x-source-file: booking/server.js
      x-source-line: 6243
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/upload-chunked/complete:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/admin/orders/:orderNo/upload-chunked/complete'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:6286`. Schemas
        noch nicht dokumentiert.
      operationId: postApiAdminOrdersOrderNoUploadchunkedComplete
      x-source-file: booking/server.js
      x-source-line: 6286
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/upload-chunked/finalize:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/admin/orders/:orderNo/upload-chunked/finalize'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:6303`. Schemas
        noch nicht dokumentiert.
      operationId: postApiAdminOrdersOrderNoUploadchunkedFinalize
      x-source-file: booking/server.js
      x-source-line: 6303
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/upload:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/admin/orders/:orderNo/upload'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:6338`. Schemas
        noch nicht dokumentiert.
      operationId: postApiAdminOrdersOrderNoUpload
      x-source-file: booking/server.js
      x-source-line: 6338
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/upload-batches:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/admin/orders/:orderNo/upload-batches'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:6388`. Schemas
        noch nicht dokumentiert.
      operationId: getApiAdminOrdersOrderNoUploadbatches
      x-source-file: booking/server.js
      x-source-line: 6388
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/upload-batches/{batchId}:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/admin/orders/:orderNo/upload-batches/:batchId'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:6401`. Schemas
        noch nicht dokumentiert.
      operationId: getApiAdminOrdersOrderNoUploadbatchesBatchId
      x-source-file: booking/server.js
      x-source-line: 6401
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
        - in: path
          name: batchId
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/upload-batches/{batchId}/retry:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/admin/orders/:orderNo/upload-batches/:batchId/retry'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:6416`. Schemas
        noch nicht dokumentiert.
      operationId: postApiAdminOrdersOrderNoUploadbatchesBatchIdRetry
      x-source-file: booking/server.js
      x-source-line: 6416
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
        - in: path
          name: batchId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/upload-batches/{batchId}/confirm:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/admin/orders/:orderNo/upload-batches/:batchId/confirm'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:6432`. Schemas
        noch nicht dokumentiert.
      operationId: postApiAdminOrdersOrderNoUploadbatchesBatchIdConfirm
      x-source-file: booking/server.js
      x-source-line: 6432
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
        - in: path
          name: batchId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/uploads:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/admin/orders/:orderNo/uploads'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:6463`. Schemas
        noch nicht dokumentiert.
      operationId: getApiAdminOrdersOrderNoUploads
      x-source-file: booking/server.js
      x-source-line: 6463
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/uploads/file:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/admin/orders/:orderNo/uploads/file'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:6487`. Schemas
        noch nicht dokumentiert.
      operationId: getApiAdminOrdersOrderNoUploadsFile
      x-source-file: booking/server.js
      x-source-line: 6487
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
    delete:
      tags:
        - booking
      summary: 'TODO: DELETE /api/admin/orders/:orderNo/uploads/file'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:6508`. Schemas
        noch nicht dokumentiert.
      operationId: deleteApiAdminOrdersOrderNoUploadsFile
      x-source-file: booking/server.js
      x-source-line: 6508
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/uploads/folder:
    delete:
      tags:
        - booking
      summary: 'TODO: DELETE /api/admin/orders/:orderNo/uploads/folder'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:6532`. Schemas
        noch nicht dokumentiert.
      operationId: deleteApiAdminOrdersOrderNoUploadsFolder
      x-source-file: booking/server.js
      x-source-line: 6532
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/uploads/websize-sync:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/admin/orders/:orderNo/uploads/websize-sync'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:6556`. Schemas
        noch nicht dokumentiert.
      operationId: postApiAdminOrdersOrderNoUploadsWebsizesync
      x-source-file: booking/server.js
      x-source-line: 6556
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/uploads/websize-rebuild:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/admin/orders/:orderNo/uploads/websize-rebuild'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:6574`. Schemas
        noch nicht dokumentiert.
      operationId: postApiAdminOrdersOrderNoUploadsWebsizerebuild
      x-source-file: booking/server.js
      x-source-line: 6574
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/admin/orders'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:6598`. Schemas
        noch nicht dokumentiert.
      operationId: getApiAdminOrders
      x-source-file: booking/server.js
      x-source-line: 6598
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/admin/orders'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:8058`. Schemas
        noch nicht dokumentiert.
      operationId: postApiAdminOrders
      x-source-file: booking/server.js
      x-source-line: 8058
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}:
    patch:
      tags:
        - booking
      summary: 'TODO: PATCH /api/admin/orders/:orderNo'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:6609`. Schemas
        noch nicht dokumentiert.
      operationId: patchApiAdminOrdersOrderNo
      x-source-file: booking/server.js
      x-source-line: 6609
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
    delete:
      tags:
        - booking
      summary: 'TODO: DELETE /api/admin/orders/:orderNo'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:8008`. Schemas
        noch nicht dokumentiert.
      operationId: deleteApiAdminOrdersOrderNo
      x-source-file: booking/server.js
      x-source-line: 8008
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/admin/orders/:orderNo'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:8312`. Schemas
        noch nicht dokumentiert.
      operationId: getApiAdminOrdersOrderNo
      x-source-file: booking/server.js
      x-source-line: 8312
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/status:
    patch:
      tags:
        - booking
      summary: 'TODO: PATCH /api/admin/orders/:orderNo/status'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:6895`. Schemas
        noch nicht dokumentiert.
      operationId: patchApiAdminOrdersOrderNoStatus
      x-source-file: booking/server.js
      x-source-line: 6895
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/events:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/admin/orders/:orderNo/events'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:7245`. Schemas
        noch nicht dokumentiert.
      operationId: getApiAdminOrdersOrderNoEvents
      x-source-file: booking/server.js
      x-source-line: 7245
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/email-log:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/admin/orders/:orderNo/email-log'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:7270`. Schemas
        noch nicht dokumentiert.
      operationId: getApiAdminOrdersOrderNoEmaillog
      x-source-file: booking/server.js
      x-source-line: 7270
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/messages:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/admin/orders/:orderNo/messages'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:7321`. Schemas
        noch nicht dokumentiert.
      operationId: getApiAdminOrdersOrderNoMessages
      x-source-file: booking/server.js
      x-source-line: 7321
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/message:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/admin/orders/:orderNo/message'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:7339`. Schemas
        noch nicht dokumentiert.
      operationId: postApiAdminOrdersOrderNoMessage
      x-source-file: booking/server.js
      x-source-line: 7339
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/chat:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/admin/orders/:orderNo/chat'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:7385`. Schemas
        noch nicht dokumentiert.
      operationId: getApiAdminOrdersOrderNoChat
      x-source-file: booking/server.js
      x-source-line: 7385
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/chat/message:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/admin/orders/:orderNo/chat/message'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:7405`. Schemas
        noch nicht dokumentiert.
      operationId: postApiAdminOrdersOrderNoChatMessage
      x-source-file: booking/server.js
      x-source-line: 7405
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/chat/read:
    patch:
      tags:
        - booking
      summary: 'TODO: PATCH /api/admin/orders/:orderNo/chat/read'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:7466`. Schemas
        noch nicht dokumentiert.
      operationId: patchApiAdminOrdersOrderNoChatRead
      x-source-file: booking/server.js
      x-source-line: 7466
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/chat/events:
    get:
      tags:
        - booking
      summary: 'TODO: GET /api/admin/orders/:orderNo/chat/events'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:7486`. Schemas
        noch nicht dokumentiert.
      operationId: getApiAdminOrdersOrderNoChatEvents
      x-source-file: booking/server.js
      x-source-line: 7486
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/reschedule:
    patch:
      tags:
        - booking
      summary: 'TODO: PATCH /api/admin/orders/:orderNo/reschedule'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:7784`. Schemas
        noch nicht dokumentiert.
      operationId: patchApiAdminOrdersOrderNoReschedule
      x-source-file: booking/server.js
      x-source-line: 7784
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/photographer:
    patch:
      tags:
        - booking
      summary: 'TODO: PATCH /api/admin/orders/:orderNo/photographer'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:7800`. Schemas
        noch nicht dokumentiert.
      operationId: patchApiAdminOrdersOrderNoPhotographer
      x-source-file: booking/server.js
      x-source-line: 7800
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/exxas-create-service-order:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/admin/orders/:orderNo/exxas-create-service-order'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:8481`. Schemas
        noch nicht dokumentiert.
      operationId: postApiAdminOrdersOrderNoExxascreateserviceorder
      x-source-file: booking/server.js
      x-source-line: 8481
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/exxas-sync-links:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/admin/orders/:orderNo/exxas-sync-links'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:8592`. Schemas
        noch nicht dokumentiert.
      operationId: postApiAdminOrdersOrderNoExxassynclinks
      x-source-file: booking/server.js
      x-source-line: 8592
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      security:
        - bearerAuth: []
        - sessionCookie: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        5XX:
          $ref: '#/components/responses/ServerError'
  /api/admin/orders/{orderNo}/bexio-create-order:
    post:
      tags:
        - booking
      summary: 'TODO: POST /api/admin/orders/:orderNo/bexio-create-order'
      description: >-
        **Auto-generierter Stub.** Quelle: `booking/server.js:8677`. Schemas
        noch nicht dokumentiert.
      operationId: postApiAdminOrdersOrderNoBexiocreateorder
      x-source-file: booking/server.js
      x-source-line: 8677
      parameters:
        - in: path
          name: orderNo
          required: true
          schema:
            type: string
      requestBody:
[...]
